<!doctype html>
<html>
  <head>
    <title>Directory File Index</title>
  </head>
  <body>
    <h1>Directory File Index</h1>
    <a href="/?sort=ascending">Ascending</a>
    <a href="/?sort=decending">Descending</a>
    <ul>
      <% if @sort == "ascending" %>
        <% @ressource_list.each do |ressource| %>
          <li><a href="<%= ressource.path %>"><%= ressource.name %></a></li>
        <% end %>
      <% else %>
        <% @ressource_list.reverse_each do |ressource| %>
          <li><a href="<%= ressource.path %>"><%= ressource.name %></a></li>
        <% end %>
      <% end %>
    </ul>
  </body>
</html>
